
.ltt{
    height: 100%;
}
.ltt a:hover{
    text-decoration:none;
}
.ltt-M2 { margin: 2px; }
.ltt-M3 { margin: 3px; }
.ltt-M4 { margin: 4px; }
.ltt-M5 { margin: 5px; }

.ltt-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ltt-flex {
    display: flex;
}

/** nav **/
.ltt_c-nav{
    width: 65px;
    display: none;
    background-color: #383d40;
    color: #e3e4e6;
}
.ltt_c-nav .ltt_c-menu-item{
    height: 60px;
}
.ltt_c-nav .ltt_c-menu-item a{
    width: 40px;
    text-align: center;
}
.ltt_c-nav .ltt_c-menu-item .fa{
    font-size: 1.79rem;
    margin:0px;
    margin-top: 5px;
}
.ltt_c-sidebar{
    width: 180px;
    background-color: #292d30;
    color: #e3e4e6;
}
/** main **/
.ltt_c-main {
    /*-webkit-transition: -webkit-transform 150ms cubic-bezier(.2, .3, .25, .9);
    transition: transform 150ms cubic-bezier(.2, .3, .25, .9);*/
    /*overflow: overlay;*/
}

.ltt__navOpen .ltt_c-nav{
    display: block;
}


/**menu**/

.ltt_c-menu{
    color: #fff;
    margin: 0;
    padding: 0;
}

.ltt_c-menu a,
.ltt_c-menu a:hover{
    color:#fff;
    text-decoration:none;
    cursor:pointer;
}

.ltt_c-menu-item {
    display: flex;
    padding: 10px 0 10px 0;
    cursor:pointer;
    border-left: 3px solid transparent;
}

.ltt_c-menu-item.active{
    background: #2c3031;
    border-color: #73CEDA;
}
.ltt_c-menu-item.active .fa{
    color: #72c0ca;
}

.ltt_c-menu-item .fa{
    font-size: 1.4rem;
    margin-right: 10px;
    margin-left: 10px;
    width: 30px;
    color: #FFFFFF;
}
.ltt_c-menu-item a{
    flex: 1;
    display:block;
}


/** logo **/

.ltt_c-cover{
    color: #FFDA6B;
    text-align: center;
    padding: 30px 0;
    background-image: url(../images/youth.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.ltt_c-logo{
    width: 65px;
    color: #FFF;
    background: #43B2DF;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.ltt_c-logo-title{
    font-size: 20px;
}


.ltt_c-outerContainer{
    display: flex;
    height: 100%;
    padding-top: 50px;
}
.ltt_c-innerContainer{
    height: 100%;
    flex: 1;
    overflow: overlay;
    position: relative;
}

.scrollable {
     overflow-y: auto;
}