.ltt_c-logEditor{
    height: 100%;
}
.ltt_c-logEditor-content{
    height: 100%;
    display: flex;
    position: relative;
}

.ltt_c-logEditor-content .todayReport{
    
}
.ltt_c-logEditor-Calendar{
    width: 150px;
}


.ltt_c-logEditor-content .ace_editor{
    flex: 1;
}

.ace_ltt_place {
    color: #1F746C !important;
    /* background-color: #B3F5C1; */
    border: 1px dotted #4B9B93;
    /* padding-right: 2px; */
    background: #E6F9F7;
    border-radius: 3px;
    /* padding-left: 2px; */
}

.ace_ltt_people {
    color: #E550AE !important;
}

.ace_ltt_subTask {
    color: #8B4C92 !important;
}

.ace_ltt_estimatedTime{
    color: #EA5DC5 !important;
    background-color: rgba(255, 151, 233, 0.38);
    font-weight: bold;
    border-bottom: 2px solid #F04BB6;
}

.ace_ltt_estimated{
    color: #FFFFFF !important;
    background-color: rgb(255, 128, 69);
    font-weight: bold;
}

.ace-github .ace_marker-layer .log-unfinish{
    background: rgb(255, 236, 201) !important;
}

.ace-github .ace_marker-layer .log-beginsoon{
    background: rgb(158, 255, 123) !important;
}

.ace-github .ace_marker-layer .log-star{
    background: rgb(240, 223, 255) !important;
}

.ltt_c-logEditor-header-toggleCalendar {
    margin-right: 5px;
    cursor: pointer;
}

.ltt_c-logEditor-title .changeFlag{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
    transition-property: opacity;
    transition-duration: .3s;
    color: #F6610A;
    opacity: 0;
}

.ltt_c-logEditor-title .changeFlag.changed{
    opacity: 1;
}


.ltt_c-logEditor-header-toggleCalendar:hover{
    color: blue;
}


.ltt_c-logEditor-Calendar .timeline {
    position: absolute;
    border-top: 2px dashed #4085AD;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.ltt_c-logEditor-Calendar .event-highlight {
    border-color: #FF9715 !important;
    border-width: 1px;
    box-shadow: 0 0 5px #FFC151;
}

.ltt_c-logEditor-accomplishment .fa-trophy{
    margin-right: 4px;
}


.ltt_c-logEditor-accomplishment .accomplishment-item{
    cursor: pointer;
}


.ltt_c-logEditor-accomplishment-popOver{
    width: 380px;
}

.ltt_c-logEditor-accomplishment-popOver .item{
    margin: 0px;
    padding: 10px;
}

.ltt_c-logEditor-accomplishment-popOver .item .unfinish{
    color: #A0A0A0;
}

.ltt_c-logEditor-accomplishment-popOver .popover-content{
    padding: 0px;
}

.ltt_c-logEditor-accomplishment-popOver .item .project,
.ltt_c-logEditor-accomplishment-popOver .item .version {
    color: #ccc;
    margin-right: 5px;
    font-size:0.89em;
}
.ltt_c-logEditor-accomplishment-popOver .item:hover{
    background-color: #F2F2F2;
}



.ltt_c-logEditor .ace_gutter-cell{
    position:relative;
}
.ltt_c-logEditor .ace_gutter-cell.ace_log_star::before {
    content: "\f069";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: absolute;
    top: 0px;
    left: 3px;
    padding: 2px;
    background: #E5E5E5;
    color: #D02F68;
}

.ltt_c-logEditor .ltt_c-report-TodayReport .chart{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.30);
}