.ltt_c-logEditor{
    height: 100%;
}
.ltt_c-logEditor-content{
    height: 100%;
    display: flex;
}
.ltt_c-logEditor-Calendar{
    width: 150px;
}


.ltt_c-logEditor-content .ace_editor{
    flex: 1;
}

.ace_ltt_people {
    color: #E550AE;
}

.ace-github .ace_marker-layer .log-unfinish{
    background: rgb(255, 236, 201) !important;
}

.ltt_c-logEditor-header-toggleCalendar {
    margin-right: 5px;
    cursor: pointer;
}

.ltt_c-logEditor-header-toggleCalendar:hover{
    color: blue;
}


.ltt_c-logEditor-Calendar .timeline {
    position: absolute;
    border-top: 2px dashed #4085AD;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
}