<div class="row">
    <div class="classesPie col-xs-6 col-sm-3"></div>
    <div class="classesPie col-xs-6 col-sm-3"></div>
    <div class="classesPie col-xs-6 col-sm-3"></div>
</div>

<div class="row classesCompared">
</div>
<div class="row" id="cal-heatmap"></div>
<div class="row" id="sleepPeriod"></div>
<div class="row" id="projects"></div>
<div class="row" id="tags"></div>
<div class="container"></div>
