<div class="row">
    <div id="classes-1" class="col-xs-6 col-sm-3"></div>
    <div id="classes-2" class="col-xs-6 col-sm-3"></div>
    <div id="classes-yesterday" class="col-xs-6 col-sm-3"></div>
</div>
<div id="cal-heatmap"></div>
<div id="sleepPeriod"></div>
<script data-main="./resources/scripts/boot" src="./resources/vendors/requirejs/require.js"></script>

