<div class="row">
    <div class="classesPie col-xs-6 col-sm-3"></div>
    <div class="classesPie col-xs-6 col-sm-3"></div>
    <div class="classesPie col-xs-6 col-sm-3"></div>
</div>

<div class="row classesCompared">
</div>
<div id="cal-heatmap"></div>
<div id="sleepPeriod"></div>
<script data-main="./resources/scripts/boot" src="./resources/vendors/requirejs/require.js"></script>

