.ltt_c-projectDetail h1{
    color: rgba(75, 75, 75, 0.8);
    text-shadow: 1px 4px 6px #f6f6f6, 0 0 0 #000, 1px 4px 6px #f6f6f6;
    background: #f6f6f6;
    margin: 0 0px 10px;
    font-weight: bold;
}

.ltt_c-projectDetail-times,
.ltt_c-projectDetail-logClasses{
    font-size: 13px;
    display: inline-block;
    margin-left: 7px;
    color: #4B4B4B;
    /* text-shadow: 0 0 1px #C8C8C8; */
    font-weight: 200;
}
.ltt_p-projectDetail-versionInfo{
    color: #4B4B4B;
    font-weight: 200;
    background: #F2F2F2;
    padding: 10px;
    border-top: 1px solid #E4E3E3;
    border-bottom: 1px solid #E2E2E2;
    margin: 0 -10px 10px;
    display:flex;
    justify-content: space-between;
}
.ltt_p-projectDetail-versionInfo .fa,
.ltt_c-projectDetail-times .fa{
   margin: 0 5px;
}

.ltt_p-projectDetail-versionInfo .percent{
    margin-left:7px;
}

.ltt_p-projectDetail-versionInfo .percent .num{
    font-style: italic;
    font-weight:bold;
}