.ltt_c-datePicker{
    height: 34px;
    text-indent: 10px;
    font-size: 1.14rem;
}

.ltt_c-dateRangePicker{
    display: flex;
    justify-content: space-between;
}

.ltt_c-dateRangePicker .input-daterange{
    width: 300px;
}