.ltt_c-chart{
    height: 100%;
    min-height: 300px;
}
.ltt_c-chart-title{
    font-size:1.22rem;
    padding: 10px;
}
.ltt_c-chart canvas{
    background: #FFF;
    width: 100% !important;
    height: auto !important;
}

.ltt_c-chart-wordsCloud{
    width: 100%;
}

.ltt_c-chart-MonthCountDown h1{
    font-size:1.34rem;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
}

.ltt_c-chart-LogLine {
    height: 100%;
    background:#FFF;
}

.ltt_c-chart-D3SimpleColumn{
    height: 30px;
    min-height:30px;
}

.ltt_c-chart-activityBar-activities .btn-group{
    margin-top:10px;
    margin-bottom:10px;
}