.ltt_c-datePicker{
    display: flex;
    height: 34px;
}

.ltt_c-FullDateRangePicker{
    display: flex;
    justify-content: space-between;
}

.ltt_c-FullDateRangePicker-dateRange{
    display: flex;
}
.ltt_c-FullDateRangePicker input[type="checkbox"]{
    margin:auto 10px;
}


.ltt_c-dateRangePicker{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.ltt_c-dateRangePicker-picker{
    display:flex;
    align-items: stretch;
}

.ltt_c-dateRangePicker .btn-toolbar{
    display:flex;
}
.ltt_c-datePicker .input-date,
.ltt_c-dateRangePicker .input-daterange{
    width: 185px;
    border: 1px solid #ccc;
    text-indent:10px;
    outline:none;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #e0e0e0 100%);
    display:inline-block;
    height: 34px;
    flex: 1;
}

.ltt_c-datePicker  button[type="button"],
.ltt_c-dateRangePicker button[type="button"]{
    border: 1px solid #ccc;
    text-indent:3px;
    outline:none;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #e0e0e0 100%);
    display:inline-block;
    height: 34px;
}
.ltt_c-datePicker button[type="button"].prev,
.ltt_c-dateRangePicker button[type="button"].prev{
    border-right: none;
}
.ltt_c-datePicker button[type="button"].next,
.ltt_c-dateRangePicker button[type="button"].next{
    border-left: none;
}