/** header **/
.ltt_c-header{
    height: 50px;
    background: #FFF;
    border-bottom: 1px solid #EBEBEB;
    position: fixed;
    top: 0;
    right: 0;
    left: 0px;
    z-index: 100;
    display: flex;
}
.ltt_c-header .btn{
    margin-top: 8px;
    border: none;
    box-shadow: none;
    background: none;
}

.ltt_c-header-barBtn{
    margin-left: 0px;
}


.ltt-btn {
    display: inline-block;
    border: 1px solid #ccc;
}
.ltt-btn-grp{

}

.ltt_c-header-controls{
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 65px;
}

.btn-group.history-btn-group{
    margin-right: 10px;
}

.btn-group.history-btn-group .btn{
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 12px;
}

.btn-group.history-btn-group .btn:hover{
    background: #EAEAEA;
}