.loadingMask{
    top: 0;
    left: 0;
    z-index:999;
    position: absolute;
    background-color: rgba(254, 254, 254, 0.56);
    zoom: 1;
    cursor:wait;
    text-align: center;
    color: #1E1E1E;
}

.loadingMask .fa{
    margin-right: 10px;
}