.ltt_c-page-logs {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding:0px;
}
.ltt_c-page-logs-date{
    height: 34px;
    text-indent: 10px;
    font-size: 1.14rem;
}

.ltt_c-page-logs-list {
    flex: 1;
}

.ltt_c-page-logs-list .sorter{
    cursor: pointer;
}
.ltt_c-page-logs-filters{
    margin: 20px;
    margin-bottom: 5px;
}

.ltt_c-page-logs .filter-tags{
    margin-top:15px;
    margin-bottom: 15px;
    margin-right: 10px;
    height:34px;
    width: 50%;
}

.ltt_c-page-logs .well{
    margin: 20px;
}

.ltt_c-page-logs .charts {
    padding: 10px;
}

.ltt_c-page-logs .charts .totalTimePercent{
    margin-left: 0px;
    margin-right: 10px;
    text-align: center;
}

.totalTimePercent .time{
    margin-bottom: 10px;
}

.ltt_c-page-logs .charts .totalTimePercent,
.ltt_c-page-logs .charts .calendarHeatMap {
    background-color:#FFF;
    box-shadow: 0 0 5px #CCC;
    padding:10px 20px;
}

.ltt_c-page-logs-filters .filter-input{
    flex:1;
    margin-left:10px;
    margin-right:10px;
}

.ltt_c-page-logs-filters .filter-label{
    line-height: 26px;
    margin-bottom: 0px;
}

.ltt_c-page-logs-filtersdateRange{
    width: 220px;
    margin-right: 10px;
    height: 26px;
    overflow: hidden;
}


.ltt_c-page-logs-filtersdateRange .ltt_c-dateRangePicker{
    height: 26px;
    font-size: 0.89em;
}