.ltt_c-RecentActivity-content{
    position:relative;
    min-height:200px;
}

.ltt_c-RecentActivity-content .btn-group{
    position: absolute;
    top: 10px;
    z-index: 4;
    right: 20px;
}


.ltt_c-RecentActivity-content .empty-task{
    position:absolute;
    top:45%;
    left: 45%;
}

.ltt_c-RecentActivity-content .ltt_c-taskList{
    padding-top: 30px;
}