.ltt_c-page-dashboard .ltt_c-LogClassPie{
    height:308px;
    max-height: 308px;
    background-color:#fff;
    padding: 10px;
    overflow: hidden;
}
.ltt_c-page-dashboard .ltt_c-LogClassPie .ltt_c-chart{
    height: 274px;
    min-height: 274px;
}

.ltt_c-RecentActivity-content{
    position:relative;
    min-height:200px;
    padding-top: 15px;
}

.ltt_c-RecentActivity-content .btn-group{
    position: absolute;
    top: 10px;
    z-index: 4;
    right: 20px;
}

.ltt_c-page-dashboard .ltt_c-Board{
    margin-bottom:20px;
}


.ltt_c-RecentActivity-content .empty-task{
    position:absolute;
    top:45%;
    left: 45%;
}

.ltt_c-RecentActivity-content .ltt_c-taskList{
    padding-top: 30px;
}


.ltt_c-Board{
    display: flex;
    height: 120px;
    background: #FFF;
}

.ltt_c-Board-item{
    flex: 1;
    text-align: center;
    border-right: 1px solid #F2F2F2;
    font-family: 'Share Tech', sans-serif;
}
.ltt_c-Board-item p {
    margin-bottom:0px;
}

.ltt_c-Board-item-change .fa{
    margin-right: 5px;
}

.ltt_c-Board-item-change .rise{
    color:green;
}
.ltt_c-Board-item-change .down{
    color:red;
}


.ltt_c-Board-item-number{
    font-size: 2.5rem;
    margin-top: 10px;
}

.ltt_c-Board-item:last-child{
    border-right: 0px;
}
.ltt_c-page-dashboard .ltt_c-page-dashboard-com {
    background-color: #FFF;
}

.ltt_c-page-dashboard .yesterdayGoals{
    height: 309px;
    padding: 10px;
}

.ltt_c-page-dashboard .yesterdayGoals{
    display: flex;
    flex-direction: column;
}


.ltt_c-page-dashboard .yesterdayGoals .ltt_c-TodayGoal{
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ltt_c-page-dashboard .ltt_c-sleepPeriod{
    height: 330px;
}