.ltt_c-PieDetail {
    height: 300px;
}

.ltt_c-PieDetail .ltt_c-chart{
    min-height: 300px;
    height: 300px;
}
.ltt_c-PieDetail-compare{
    border-left: 1px solid #CCC;
}

.ltt_c-PieDetail-compare{
    height: 300px;
    overflow-y:auto;
}

.ltt_c-PieDetail-compare .table tbody>tr {
}

.ltt_c-PieDetail-compare .table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

.ltt_c-PieDetail-compare .table .text-center{
    text-align: center;
}

.ltt_c-PieDetail-compare .change.rise .fa,
.ltt_c-PieDetail-compare .change.rise .num{
    color: green;
}

.ltt_c-PieDetail-compare .change.down .fa,
.ltt_c-PieDetail-compare .change.down .num{
    color: red;
}


.ltt_c-PieDetail-compare .ltt_c-chart-LogLine{
    height: 80px;
    max-height: 80px;
    min-height: 80px;
    background: none;
}