.ltt_c-progress {
  padding: 0px;
  height: 10px;
  background: rgba(202, 202, 202, 0.25);
  /*border-radius: 6px;*/
  /* -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08); */
  /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08); */
}

.ltt_c-progress-bar {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  float: right;
  /*border-radius: 4px;*/
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  /* -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1); */
  /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1); */
}
.ltt_c-progress-bar:before, .ltt_c-progress-bar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.ltt_c-progress-bar:before {
  bottom: 0;
  background: url("../img/stripes.png") 0 0 repeat;
  /*border-radius: 4px 4px 0 0;*/
}
.ltt_c-progress-bar:after {
  z-index: 2;
  bottom: 45%;
  /*border-radius: 4px;*/
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

.ltt_c-progress-number{
  font-size: 9px;
  color: #FFF;
}