.ltt_c-projectCard {
    width: 20%;
    height: 100px;
    padding: 10px;
}

.ltt_c-projectCard .fa {
    margin-right: 4px;
}

.ltt_c-projectCard h1 {
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    text-indent: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ltt_c-projectCard-lastActiveTime{
    font-size:12px;
    color:#ccc;
    margin: 0px;
    padding-left: 5px;
}

.ltt_c-projectCard .ltt_c-tag{
    color:#FFF;
    background: #3E91D2;
    margin-top: 3px;
    margin-bottom: 3px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

.ltt_c-projectCard .ltt_c-tag .fa-tag{
    color: #CFEAFF;
    margin-right: 4px;
    text-shadow: 0px 1px 0px #326994;
}

.ltt_c-projectCard-footer{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
    margin: 0px;
    border-top: 1px solid #EEEDED;
}

.ltt_c-projectCard-footer .ltt_c-projectCard-footer-lastActiveTime,
.ltt_c-projectCard-footer .ltt_c-projectCard-footer-taskCount{
    /* padding-left:10px; */
}

.ltt_c-projectCard-footer-item {
    border-right: 1px solid #EEEDED;
    padding: 10px;
}
.ltt_c-projectCard-footer-item:last-child{
    border: none;
}

.ltt_c-projectCard-footer-lastActiveTime{
    width: 150px;
    text-align: right;
    padding-right: 10px;
    color: #BFBFBF;
}
.ltt_c-projectCard-footer-taskCount{
    flex: 1;
}


.ltt_c-projectCard-tasks{
    list-style: none;
    margin:0px;
    padding: 10px;
}

.ltt_c-projectCard-task{
    color: #212121;
    font-size: 12px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ltt_c-projectCard-logClassIndicators{
    position: absolute;
    bottom: 0px;
    right:0;
    left:0;
    height: 4px;
    display: flex;
    margin: 0px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.ltt_c-projectCard-logClassIndicators i{
    flex: 1;
    background-color: #ccc;
    display: block;
}