.ltt_c-projectCard {
    width: 20%;
    height: 100px;
    padding: 10px;
}

.ltt_c-projectCard h1 {
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    text-indent: 10px;
    margin-bottom: 10px;
}

.ltt_c-projectCard .ltt_c-tag{
    color:#FFF;
    background: #ccc;
    margin-top: 3px;
    margin-bottom: 3px;
}

.ltt_c-projectCard .ltt_c-tag .fa-tag{
    color: #FFF;
}

.ltt_c-projectCard-lastActiveTime{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: right;
    padding-right: 10px;
    color: #BFBFBF;
}