.ltt_c-tag{
    display: inline-block;
    padding: 2px 8px;
    color: #FFF;
    margin: 2px;
    border-radius: 10px;
    background: #3E91D2;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

.ltt_c-tag .fa-tag{
    color: #CFEAFF;
    margin-right: 4px;
    text-shadow: 0px 1px 0px #326994;
}

p.ltt_c-projectCard-tags{
    margin-right: 4px;
    font-size: 0.8rem;
    color: #FFE0E0;
    height: 30px;
    overflow: hidden;
}