.ltt_c-tag{
    display: inline-block;
    padding: 2px 8px;
    color: #FFF;
    background: #EF6B5D;
    margin: auto 2px;
    border-radius: 10px;
}

p.ltt_c-projectCard-tags{
    margin-right: 4px;
    font-size: 0.8rem;
    color: #FFE0E0;
}