.ltt_c-chart-TreeMap{
    min-height: 300px;
}
.ltt_c-chart-TreeMap-node {
  border: solid 1px white;
  font-size: 10px;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}