.ltt_c-page-calendar {
    height: 100%;
}

.ltt_c-page-calendar .calendar{
    height: 100%;
}

.eventContent{
    line-height: 150%;
}
.eventContent .item{
    margin: 0px;
}

.eventContent .item.project{
    font-weight: 500;
}