.ltt_c-page-Goals{
    padding: 20px;
}


.ltt_c-page-Goals .ltt_c-GoalList .ltt_c-GoalCard{
    float: left;
    width: 23%;
    margin: 1%;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 1px #AFAFAF;
    height: 200px;
    position: relative;
}

.ltt_c-GoalCard {
    width: 20%;
    height: 100px;
    padding: 10px;
}


.ltt_c-GoalCard-granularity{
    position: absolute;
    top: 5px;
    right: 10px;
}

.ltt_c-GoalCard h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    text-indent: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.ltt_c-GoalCard-filterEditor{
    height: 115px;
    margin: 10px 0;
}
.ltt_c-GoalCard-content{
    display: block;
}
.ltt_c-GoalCard-edit{
    display: none;
}
.ltt_c-GoalCard.editing .ltt_c-GoalCard-content{
    display: none;
}
.ltt_c-GoalCard.editing .ltt_c-GoalCard-edit{
    display: block;
}


.ltt_c-GoalCard-editBtn {
    position: absolute;
    bottom: 2px;
    right: 6px;
    color: #ccc;
}

.ltt_c-GoalCard-editBtn:hover{
    color:#32F;
    cursor: pointer;
}