.ltt_c-page-Goals{
    padding: 20px;
}


.ltt_c-page-Goals .ltt_c-GoalList{
    border: 1px solid #dcdcdc;
}

.ltt_c-page-Goals .ltt_c-GoalList .ltt_c-GoalCard{
    background: #FFFFFF;
    border-bottom: 1px solid #dcdcdc;
    height: 80px;
    line-height: 80px;
    position: relative;
}

.ltt_c-page-Goals .ltt_c-GoalList .ltt_c-GoalCard:last-child{
    border-bottom: 0px;
}



.ltt_c-GoalCard {
    display: flex;
}


.ltt_c-GoalCard-granularity{
    width: 70px;
}

.ltt_c-GoalCard-progress{
    flex: 4;
    padding: 25px 10px 25px 10px;
}
.ltt_c-GoalCard-progress .ltt_c-progress{
    height:30px;
    line-height:30px;
}

.ltt_c-GoalCard-title{
    flex: 3;
    font-size: 15px;
    font-weight: bold;
    text-indent: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ltt_c-GoalCard-item{
    border-right:1px solid #dcdcdc;
    padding-left: 10px;
    padding-right: 10px;
}
.ltt_c-GoalCard-activities{
    flex: 4;
    background: #F6F6F6;
    padding: 0px;
}



.ltt_c-GoalCard-item:last-child{
    border-right:0px;
}

.ltt_c-CreateAddGoalModal-filterEditor{
    height: 115px;
    margin: 10px 0;
}


.ltt_c-GoalCard-editBtn {
    position: absolute;
    bottom: 2px;
    right: 6px;
    color: #ccc;
}

.ltt_c-GoalCard-editBtn:hover{
    color:#32F;
    cursor: pointer;
}

.ltt_c-GoalCard .ltt_c-chart-LogLine{
    height: 80px;
    min-height: 80px;
    max-height: 80px;
}