.scan-result-date {
    display:inline-block;
    margin: 10px 0px;
    color: #B4B2B2;
    font-weight:700;
}
.scan-result-item{
    border: 1px solid #ccc;
    padding: 10px;
}

.scan-result-item .fa{
    margin-right: 10px;
}
.scan-result-error{
    border-color: #DA6666;
    background-color: #FFBABA;
}

.scan-result-error .fa{
    color: #E04D4D;
}

.scan-result-warn{
    border-color: #FFE44C;
    background-color: #F9FAD6;
}

.scan-result-warn .fa{
    color: #D6851F;
}