.ltt_c-page-logEditor{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    padding: 0px;
    display:flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
}
.ltt_c-page-logEditor .ltt_c-logEditor{
    height: 100%;
    flex: 1;
    position: relative;
    padding-top: 41px;
}

.ltt_c-logEditor-header{
    padding: 10px;
    background:#FFF;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ECECEC;
}

.ltt_c-logEditor-header .fa {
    float: right;
    margin-right: 10px;
}
.ltt_c-page-logEditor .ltt_c-logEditor #ltt-logEditor{
    height:100%;
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
}

.ltt_c-page-logEditor aside{
    width: 230px;
    position: relative;
    height: 100%;
    border-left: 1px solid #ECECEC;
}

/*************************/


.ltt_c-filterableList{
    background: #181B1D;
    color:#FFF;
}

.ltt_c-filterableList .ltt_c-searchBox {
    background: #292d30;

    border-bottom: 1px solid #3D3D3D;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.ltt_c-filterableList-list{
    height: 100%;
    width: 100%;
}

.ltt_c-filterableList-list-item{

}
.ltt_c-filterableList-list-item.selected{
    color: rgb(255, 208, 208);
    background: #292d30;
}
.ltt_c-filterableList-list-item:hover{
    background: #292d30;
}

.ltt_c-filterableList-list-item-name{
    padding: 10px;
}


.ltt_c-lastTime{
    padding:10px;
}

.ltt_c-lastTime-name{
    font-weight: fold;
}
.ltt_c-lastTime-time{

}

.ltt_c-logEditor-typeahead{
    display: none;
    position: absolute;
    z-index: 211;
}

.ltt_c-logEditor-typeahead .tt-dropdown-menu{
    background: #FFF;
    border: 1px solid #ccc;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 250px;
  margin-top: 0px;
  padding: 8px 0;
  max-height: 350px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 10px;
  font-size: 13px;
  line-height: 13px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}