.ltt_c-page-projects-projectCards .ltt_c-projectCard{
    display: inline-block;
    width: 23%;
    margin: 1%;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 1px #AFAFAF;
    overflow: hidden;
    height: 200px;
    position: relative;
}



.ltt_c-projectDetail .ltt_c-taskList{
    min-height: 400px;
    max-height: 600px;
    width:  300px;
    background: #FFF;
    border:  1px solid #ccc;
    overflow-y: overlay;
    margin: 0 20px 0 0;
    padding: 0px;
}

.ltt_c-projectDetail-logs {
    flex: 1;
}