.ltt_c-page-projects{
    margin-top:0px;
}

.ltt_c-page-projects-projectCards{
    margin:-1%;
    margin-top:10px;
}

.ltt_c-page-projects-projectCards .ltt_c-projectCard{
    display: inline-block;
    width: 23%;
    margin: 1%;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 1px #AFAFAF;
    overflow: hidden;
    height: 200px;
    position: relative;
}

.ltt_c-projectDetail-logs {
}

.ltt_c-page-projects-filter{
    display: flex;
    justify-content: space-between;
}

.ltt_c-page-projects-filter-name{
    width: 250px;
    text-indent: 10px;
}