.ltt_c-page-projects-projectCards .ltt_c-projectCard{
    display: inline-block;
    width: 21%;
    margin: 2%;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 1px #AFAFAF;
    overflow: hidden;
    height: 200px;
    position: relative;
}
