.ltt_c-task{
    position: relative;
}

.ltt_c-task a{
    color:#333;
}

.ltt_c-task-tag{
    position: absolute;
    background: #6081AD;
    display: inline-block;
    height: 100%;
    top: 0;
    left: 0;
    padding:10px 2px;
}
.ltt_c-task-tag .fa{
    color: #fff;
    font-size: 8px;
}

.ltt_c-task-title{
    padding:15px;
}

.ltt_c-task-timeInfo{
    color: #ADADAD;
    text-align: right;
    padding: 5px;
}

.ltt_c-task-timeInfo .fa{
    margin: 0 5px 0 8px;
}