.ltt_c-task{
    position: relative;
    transition: height .2s;
}

.ltt_c-task a{
    color:#333;
}

.ltt_c-task-openButton{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 4px;
    padding: 10px 8px;
    color: #747474;
}
.ltt_c-task-tag .fa{
    color: #fff;
    font-size: 8px;
}

.ltt_c-task-title{
    padding: 11px 15px 0px 27px;
    position:relative;
    border-left: 5px solid transparent;
    border-bottom: 1px solid #F4F4F4;
    transition: background-color .1s, border-color .1s;
    cursor: default;
}

.ltt_c-task-title-text{
  cursor:pointer;
}

.ltt_c-task.done .ltt_c-task-title-text{
  text-decoration: line-through;
  color: #9B9B9B;
}

.ltt_c-task-mark{
  position:absolute;
  top: 10px;
  right: 10px;
}
.ltt_c-task-mark:hover{
  color:red;
}
.ltt_c-task-mark.marked{
  color: red;
}

.ltt_c-task-title:hover{
    background: #F3FBFF;
    border-left: 5px solid #A1C9E1;
}

.ltt_c-task-title .ltt_c-progress{
  position:absolute;
  right: 35px;
  top:16px;
  width: 30%;
}
.ltt_c-task-title .ltt_c-task-done{
  position:absolute;
  font-size: 1.6rem;
  color: rgb(104, 209, 82);
  top: 0px;
  right: 35px;
}

.ltt_c-task-basicInfo{
   display:flex;
   padding: 5px 0px;
   justify-content: space-between;
}

.ltt_c-task-basicInfo-version{
   color: #ADADAD;
}
.ltt_c-task-timeInfo{
    color: #ADADAD;
    text-align: right;
}
.ltt_c-task-timeInfo-item{
  margin-right:5px;
}

.ltt_c-task-basicInfo .fa{
    margin: 0 5px 0 0px;
}

.ltt_c-task .ltt_c-taskList{
    margin-left: 0px;
}

.example-enter {
  opacity: 0.01;
  height: 0px;
  transition: opacity .5s ease-in, height .5s;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in, height .5s;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  height: 0px;
}

.ltt_c-task .fa-external-link{
  margin-left: 5px;
}