.ltt_c-taskPanel {
    display: flex;
    margin: 10px auto;
}

.ltt_c-taskPanel .ltt_c-taskList{
    flex:1;
    margin: 0 10px 0 10px;
    /* padding: 10px; */
}

.ltt_c-taskPanel .ltt_c-taskList:first-child{
    margin-left: 0px;
}

.ltt_c-taskPanel .ltt_c-taskList:last-child{
    margin-right:0px;
}