.ltt_c-datePicker{
    height: 34px;
    text-indent: 10px;
    font-size: 1.14rem;
}

.ltt_c-dateRangePicker{
    display: flex;
    justify-content: space-between;
}


.ltt_c-dateRangePicker .input-daterange{
    width: 185px;
    border: 1px solid #ccc;
    text-indent:10px;
    outline:none;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #e0e0e0 100%);
    display:inline-block;
    height: 34px;
}

.ltt_c-dateRangePicker input[type="checkbox"]{
    margin:auto 10px;
}