.ltt_c-report-TodayReport{
    flex: 1;
}

.ltt_c-report-TodayReport-header{
    max-height: 260px;
    height: 260px;
}

.ltt_c-report-TodayReport .chart{
    background: #FFF;
}

.ltt_c-report-TodayReport .ltt_c-PieDetail{
    box-shadow: 0 0 2px #8D8D8D;
}