.ltt_c-report-TodayReport{
    flex: 1;
    overflow: auto;
}

.ltt_c-report-TodayReport-header{
    max-height: 260px;
    height: 260px;
}

.ltt_c-report-TodayReport .chart{
    background: #FFF;
    box-shadow: 0 0 2px #8D8D8D;
}


.ltt_c-TimeConsumeRanking .tab-pane{
    padding: 10px;
}

.ltt_c-TimeConsumeRanking .nav-tabs > li.active > a,
.ltt_c-TimeConsumeRanking .nav-tabs > li.active > a:hover,
.ltt_c-TimeConsumeRanking .nav-tabs > li.active > a:focus {
    border-top:0px;
    border-radius: 0px;
}

