.ltt_c-log {
    background:#FFF;
    margin: 10px auto;
    border-radius: 5px;
    border-left: 8px solid #FFFFFF;
}

.ltt_c-log__WK {
    border-color: #84cbbc;
}

.ltt_c-log__SPR {
    border-color: #fdc53b;
}

.ltt_c-log__STU {
    border-color: #BAED86;
}

.ltt_c-log__TK {
    border-color: #000;
}

.ltt_c-log__NT {
    border-color: #ccc;
}

.ltt_c-log__BRK {
    border-color: #6D6C99;
}

.ltt_c-log-date{
    display: inline-block;
    padding: 4px 6px;
    margin-right: 4px;
    color: #C22F2F;
}

.ltt_c-log-origin {
    color:#ccc
}
.ltt_c-log-time {
    display: inline-block;
    padding: 4px 6px;
    margin-right: 4px;
    color: #6A6A6A;
    background: #EFF7FF;
    border-radius: 4px;
}


.ltt_c-log-class{
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.ltt_c-log-class-item{
    background:#ccc;
    margin: 4px;
    display: inline-block;
}
