/*body {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}
.day {
    fill: #fff;
    stroke: #ccc;
}
.month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}
.RdYlGn .q0-11 {
    fill: rgb(255, 255, 255)
}
.RdYlGn .q1-11 {
    fill: rgb(248, 255, 210);
}
.RdYlGn .q2-11 {
    fill: rgb(207, 236, 155);
}
.RdYlGn .q3-11 {
    fill: rgb(115, 193, 62);
}
.RdYlGn .q4-11 {
    fill: rgb(70, 163, 76);
}
.RdYlGn .q5-11 {
    fill: rgb(56, 131, 83);
}
.RdYlGn .q6-11 {
    fill: rgb(19, 94, 57);
}
.RdYlGn .q7-11 {
    fill: rgb(5, 71, 39);
}*/
